.winner-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mdc-text-field {
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.mdc-text-field__input {
  color: #fff; /* Texto blanco */
  background-color: #333; /* Fondo gris oscuro */
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.mdc-text-field__input:focus {
  outline: none;
}

.mdc-floating-label {
  color: #fff; /* Texto blanco */
}

.mdc-line-ripple {
  background-color: #fff; /* Línea blanca */
}

.mdc-button {
  background-color: #4caf50; /* Verde */
  color: #fff; /* Texto blanco */
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.mdc-button:hover {
  opacity: 0.8;
}

.classification-result {
  margin-top: 20px;
  padding: 20px;
  background-color: #333; /* Fondo gris oscuro */
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.category-item {
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

.category-item:last-child {
  margin-bottom: 0;
}